.formRequest {  
    box-sizing: border-box; 
    padding-bottom: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formRequestField {
    width: 100%;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.formRequestF {
    width: 30%;
    color: white;
    font-weight: bold;  
    margin-right:35px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.formRequest input {  
    color: rgb(40,40,40); ;  
    border: none;
    border-radius: 0.7em;
    font-weight: bold;  
    padding: 10px;
    font-size: 11px;
    margin-top: 3px;    
}
.formRequest textarea {
    color: rgb(40,40,40); ;  
    margin-top: 3px;
        height: 64px;   
        border: none;
        border-radius: 0.7em;
        padding: 10px;
        font-size: 11px;
        font-weight: bold;
        resize: none;
}
.formRequestButton {
    width: 100%;
}
.formRequest button {
    border:none;
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    width: 100%;
    background-color:#FDAA07;
    border-radius: 0.5em;
    font-size: 13px;
    font-weight: bold;
}