.inputSearch {
    border:solid 1px silver;
    display: flex;
    height: 80px;
    border-radius: 0.8em;
    z-index: 1;
    padding-left: 1px;
    width: 616px;
    /*box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.inputSearchText {
    width: 100%;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;justify-content: center;align-items: center;
}
.inputSearhTextFirst {
    height: 100%;
    width: 70%;
    display: flex; justify-content: flex-start; align-items: center;
    border-right: solid 1px silver;
}
.inputSearhTextFirst > div {
    width: 50px;
    margin-right: 0px;
}
.inputSearhTextFirst + div {
    display: flex;justify-content: center;align-items: center;
}
.inputSearhTextFirst + div input {
    width: 100%;
    background-image: url('./arrow.svg');
    background-repeat: no-repeat;
    background-position:105px;
    background-size: 11px;
}
.inputSearchText input {
    border: none;
    font-weight: bold;
    font-size: 14px;
}


.inputSearchButton{

}
.inputSearchButton button {
    width: 120px;
    height:80px;
    font-weight: bold;
    font-size: 14px;
    color: white;
    border:none;
    border-radius: 0.7em;
    background-color: #1C1107;
    background-size: 38%;
    background-repeat: no-repeat;
    background-position: center;
}
.inputSearch:hover {
}
.inputSearch:focus {
    box-shadow: 0px 0px 0px 4px lightblue;
}
.inputSearch input:focus {
    border: none!important;
}