.lFooter {
  background-color: #007FF9;
  padding-top: 5px;  
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.lFooterMain {
  display: flex;
}
.lFooterTextZone {
  width: 32%;
  padding-right: 14%;
}
.lFooterTitle {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;  
}
.lFooterTitle img {
  position: absolute;
  top: 17px;
  left:0%;
  width: 40px;
}



.lFooterFooter {
  margin-top: 15px;
  border-top:solid 2px #FDAA07;
  font-size: 8px;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
}

.lFooterText {
}
.lFooterText + div {
  display: flex;
  margin-top: 40px; 
  padding: 20px;
}
.lFooterText + div > div {
  width: 25%;
}
.lFooterText + div > div img {
  width: 25px;    
}

.lFooterMenu {
  display: flex;
  flex-direction: column;
  width: 23%;
}
.lFooterMenu span {
  font-size: 14px;
  margin-bottom: 29px;
}

.lFooterForm {
  width: 22%;
}