input:focus, textarea:focus, select:focus{
    outline: none;
}
.inscription {
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    display: flex;
}
.inscriptionLeft {
    padding-bottom: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inscriptionLogo {
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.inscriptionLogo + div {
    margin-top: 40px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
.insLogWith {
    margin-top: 50px;
    width: 100%;
    display: flex;
}
.insLogWith > div {
    width: 50%;
}
.insButtom1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.insOrangeBut {
    background-color: #FDAA07;
    color: white;
    border-radius: 0.6em;
    font-size: 12px;
    display: flex; justify-content: center; align-items: center;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: bold;
    width: 180px;
}
.insOrangeBut img {
    width: 20px;
    margin-right: 5px;
}
.insLineOr {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex; justify-content: center; align-items: center;
}
.insLineOr > div {
    width: 50%;
    border-bottom: solid 1px black;
}
.insLineOr > span {
    margin-left: 15px;
    margin-right: 15px;
}

.insMainSection {
    width: 100%;
}
.insInput {
    width: 90%;
    margin-bottom: 10px;
}

.inscriptionRight {
    width: 50%;
    display: flex;
    align-items: center;
    justify-items: center;
}
.insSetting {
    margin-top: 20px;
    display: flex;
    color: #1C8EFB;
}
.insSetting > div {
    width: 50%;
}
.insButtonI0 {
    margin-top: 20px;
    background-color: #1C8EFB;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0.6em;
    cursor: pointer;
}
/*----- responsive managment zone... ------------------ */
@media screen and (max-width: 440px) { 

}