name: Build and Deploy

on: [push, pull_request]
  
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: pulling git repo
        uses: actions/checkout@v2
      - name: Install python version 3.9
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - name: update pip
        run: python -m pip install --upgrade pip
      - name: install all dependencies
        run: pip install -r requirements.txt

  deploy:   

    runs-on: ubuntu-latest 
    needs: [build]

    steps:
    - name: pulling git repo
      uses: actions/checkout@v2
    - name: deploying to Heroku
      uses: akhileshns/heroku-deploy@v3.12.12
      with:
        heroku_api_key: 94938ad0-d8fc-432a-a3d6-4f2aa3d6693d
        heroku_app_name: youtube-dev-production
        heroku_email: ytbdev10@gmail.com
